body {
  background-color: rosybrown;
  margin: 4em;
  display: flex;
  justify-content: center;
}

.outer-frame {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 600px;
  padding: 0.8em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: rgba(1, 1, 1, 0.7);
}
.button-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

#display {
  width: 100%;
  background-color: salmon;
  text-align: right;
  justify-items: center;
  font-size: 4em;
  box-shadow: inset -3px 2px 19px -1px rgba(0, 0, 0, 0.61);
  border-radius: 4px;
  margin-bottom: 7px;
}
.c-btn {
  flex-basis: 25%;
  font-size: 2em;
  text-align: center;
  justify-items: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: blueviolet;
  color: black;
  user-select: none;
  border-radius: 4px;
  border-style: none;
}

.c-btn:hover {
  transition: background-color 0.04s;
  background-color: wheat;
}

.c-btn:active {
  background-color: rgb(201, 182, 149);
}

.operator {
  background-color: rgb(185, 125, 105);
}

#clear {
  background-color: darkred;
  grid-column: span 2;
}

#clear:hover {
  background-color: rgb(172, 76, 76);
}

#equals {
  grid-row: span 2;
}

.span2 {
  grid-column: span 2;
}
